header{
    background-color: gray;
    color: white;
    height: 200px;
    width: 100%;
    margin-bottom: 1%;
}

aside{
    background-color: pink;
    color: black;
    height: 900px;
    width: 30%;
    float: left;
}

main{
    background-color: cornflowerblue;
    color: black;
    height: 900px;
    width: 70%;
    float: left;
}

footer{
    display: inline-block;
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
}